body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: hsl(0, 0%, 10%);
    color: #fff;
}

body, h1, h2, h3, p, button {
    font-family: 'Roboto', sans-serif;
}

/* Styles pour les titres (h1, h2, h3) */
h1 {
    text-align: center;
    font-size: 2.5vw; /* Taille ajustée en fonction de la largeur de la vue */
    margin: 2vh 0;
    text-shadow: 1vw 1vw 2vw rgba(0, 0, 0, 0.5); /* Ombre ajustée en fonction de la largeur de la vue */
}

h2, h3 {
    font-size: 1.5vw; /* Taille ajustée en fonction de la largeur de la vue */
    text-transform: uppercase;
    text-shadow: 0.5vw 0.5vw 1vw rgba(0, 0, 0, 1);
}

/* Styles pour les jeux */
.jeu {
    border: 1px solid #444;
    padding: 1vw; /* Marge intérieure ajustée en fonction de la largeur de la vue */
    margin: 2vh auto; /* Centrer le jeu par rapport à la page en ajoutant des marges automatiques */
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: #333;
    box-shadow: 0 0.5vw 0.75vw rgba(0, 0, 0, 0.1); /* Ombre ajustée en fonction de la largeur de la vue */
    max-width: 90%; /* Largeur ajustée à 90% de la largeur de la vue */
    background-size: cover; /* Ajuste la taille de l'image de fond pour couvrir la zone */
}

.logo {
    max-height: 40vh; /* Limite la hauteur du logo à 10% de la hauteur de la vue */
}

/* Styles pour les images */
img {
    max-width: 100%;
    height: auto;
    transition: transform 0.2s;
}

img:hover {
    transform: scale(1.1);
}

/* Styles pour les barres de progression */
.progress-bar {
    width: 100%;
    height: 1vw; /* Hauteur ajustée en fonction de la largeur de la vue */
    background-color: #444;
    margin: 2vh 0;
    border-radius: 3vw; /* Rayon de la bordure ajusté en fonction de la largeur de la vue */
}

.progress {
    height: 100%;
    text-align: center;
    line-height: 0.75vw; /* Hauteur de ligne ajustée en fonction de la largeur de la vue */
    border-radius: 0.8vw; /* Rayon de la bordure ajusté en fonction de la largeur de la vue */
    animation: loadProgress 2s ease-in-out;
}

@keyframes loadProgress {
    from {
        width: 0;
    }
    to {
        width: 100%;
    }
}

/* Styles pour les boutons "Voir les détails" */
button {
    border: none;
    padding: 0.5vw 1vw; /* Taille ajustée en fonction de la largeur de la vue */
    cursor: pointer;
    margin: 2vh 0;
    border-radius: 0.5vw; /* Rayon de la bordure ajusté en fonction de la largeur de la vue */
}

/* Styles pour les détails cachés */
.hidden-details {
    display: none;
}

.hidden-details p {
    animation: fadeIn 1s;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/* Styles pour les sections "Jeux finis", "Jeux en cours" et "Jeux à faire" */
section h2 {
    font-size: 1.8vw; /* Taille ajustée en fonction de la largeur de la vue */
    text-transform: uppercase;
    text-shadow: 0.5vw 0.5vw 1vw rgba(0, 0, 0, 0.5); /* Ombre ajustée en fonction de la largeur de la vue */
}

h4 {
    font-size: 1.2vw; /* Taille du sous-titre ajustée en fonction de la largeur de la vue */
    font-weight: bold;
    color: #ffffff;
    margin: 0;
}

p {
    font-size: 1.5vw; /* Taille du sous-titre ajustée en fonction de la largeur de la vue */
    font-weight: bold;
    color: #ffffff;
    text-decoration: underline; /* Ajout de l'effet de soulignement */
}

/* Style pour TOTK */
#jeutotk button {
    background-color: #49D59C;
    color: #fff;
}
#jeutotk .progress {
    background-color: #49D59C; 
}
#jeutotk h3:hover {
    color: #ffffff; 
    -webkit-text-stroke: 1px #49D59C;
    
}
#jeutotk button:hover {
    background-color: #2F8762;
}

/* Style pour BOTW */
#jeubotw button {
    background-color: #B99F65;
    color: #fff;
}
#jeubotw .progress {
    background-color: #B99F65;
}
#jeubotw h3:hover {
    color: #B99F65;
    -webkit-text-stroke: 1px #B99F65
}
#jeubotw button:hover {
    background-color: #847048;
}

/* Style pour TLOU */
#jeutlou button {
    background-color: #ffffff;
    color: #000000;
}
#jeutlou .progress {
    background-color: #bbbbbb;
}
#jeutlou h3:hover {
    color: #bbbbbb;
    -webkit-text-stroke: 1px #bbbbbb
}
#jeutlou button:hover {
    background-color: #5d5d5d;
}

/* Style pour TLOUII */
#jeutlou2 button {
    background-color: #ffffff;
    color: #000000;
}
#jeutlou2 .progress {
    background-color: #bbbbbb;
}
#jeutlou2 h3:hover {
    color: #bbbbbb;
    -webkit-text-stroke: 1px #bbbbbb
}
#jeutlou2 button:hover {
    background-color: #5d5d5d;
}


/* Style pour ORI TBF */
#jeuoritbf button {
    background-color: #F79E3F;
    color: #ffffff;
}
#jeuoritbf .progress {
    background-color: #F79E3F;
}
#jeuoritbf h3:hover {
    color: #F79E3F;
    -webkit-text-stroke: 1px #F79E3F
}
#jeuoritbf button:hover {
    background-color: #DB8A39;
}

/* Style pour ORI TBF */
#jeuMC button {
    background-color: #F79E3F;
    color: #ffffff;
}
#jeuMC .progress {
    background-color: #F79E3F;
}
#jeuMC h3:hover {
    color: #39aadb;
    -webkit-text-stroke: 1px #39aadb
}
#jeuMC button:hover {
    background-color: #39aadb;
}

/* Style pour ORI TBF */
#jeuFactorio button {
    background-color: #E27A22;
    color: #ffffff;
}
#jeuFactorio .progress {
    background-color: #E27A22;
}
#jeuFactorio h3:hover {
    color: #E27A22;
    -webkit-text-stroke: 1px #E27A22
}

/* Style pour TLOUII */
#jeutSpiderman button {
    background-color: #ffffff;
    color: #000000;
}
#jeutSpiderman .progress {
    background-color: #ffffff;
}
#jeutSpiderman h3:hover {
    color: #ffffff;
    -webkit-text-stroke: 1px #ffffff
}
#jeutSpiderman button:hover {
    background-color: #b6b6b6;
}