body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: hsl(0, 0%, 10%);
    color: #fff;
}

body, h1, h2, h3, p, button {
    font-family: 'Roboto', sans-serif;
}

header {
    background-color: #FF4728;
    color: #fff;
    text-align: center;
    padding: 1.5%;
    z-index: 2;
    transition: padding 0.5s, position 0.5s, top 0.5s, opacity 0.3s;
}

header img {
    max-width: 80%;
    height: auto;
}

.logogrand {
    max-height: 12.5vh;
}

header.scrolled {
    padding: 0.5%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 13vh;
}

header h1 {
    margin: 0;
    opacity: 1;
    transition: opacity 0.3s;
}

header.scrolled h1 {
    opacity: 0;
}

nav {
    background-color: #990000;
    color: #fff;
    padding: 1.5%;
    text-align: center;
    position: relative;
    z-index: 2;
    transition: padding 0.5s, top 0.5s, position 0.5s, height 0.5s;
}

nav.scrolled {
    padding: 0.5%;
    position: fixed;
    top: 14vh;
    left: 0;
    right: 0;
    height: 5vh;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav li {
    display: inline;
    margin-right: 1.5%;
}

nav a {
    color: #fff;
    text-decoration: none;
}

nav a:hover {
    text-decoration: underline;
}

.group {
    margin-top: 20px;
    border: 1px solid #ccc;
    padding: 10px;
}

.album {
    margin-top: 10px;
    border: 1px solid #eee;
    padding: 10px;
}

.song {
    display: flex;
    align-items: center;
    margin-top: 5px;
}

.cover {
    max-width: 15vh;
    max-height: 15vh;
    margin-right: 10px;
}

.album-title i {
    margin-right: 5px;
    float: left;
    align-items: left;
}

#toggleChartTypeButton {
    background-color: #FF4728;
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-size: 1.5vw;
    text-transform: uppercase;
    margin: 10px;
    border-radius: 5px;
    transition: background-color 0.3s, transform 0.3s;
}

#toggleChartTypeButton:hover {
    background-color: #990000;
    transform: scale(1.1);
}

#deselectArtistsButton {
    background-color: #FF4728;
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-size: 1.5vw;
    text-transform: uppercase;
    margin: 10px;
    border-radius: 5px;
    transition: background-color 0.3s, transform 0.3s;
}

#deselectArtistsButton:hover {
    background-color: #990000;
    transform: scale(1.1);
}

.tooltip-info {
    background-color: rgba(0, 0, 0, 0.8);
    color: #fff;
    border-radius: 4px;
    padding: 5px;
    position: absolute;
    display: none;
}

.tooltip-title {
    font-weight: bold;
}

.tooltip-cover {
    width: 2.5vh;
    height: 2.5vh;
    display: block;
    margin: 5px auto;
}

#custom-tooltip {
    display: none;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 10px;
    border-radius: 5px;
    z-index: 999;
}

h1 {
    text-align: center;
    font-size: 2.5vw;
    margin: 2vh 0;
    text-shadow: 1vw 1vw 2vw rgba(0, 0, 0, 0.5);
}

h2, h3 {
    font-size: 1.5vw;
    text-transform: uppercase;
    text-shadow: 0.5vw 0.5vw 1vw rgba(0, 0, 0, 1);
}

footer {
    background-color: #FF4728;
    color: #000000;
    text-align: center;
    padding: 1.5%;
    position: relative;
    z-index: 2;
    transition: padding 0.5s, position 0.5s, top 0.5s, font-size 0.5s;
}

footer.scrolled {
    padding: 1.5%;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    font-size: 1rem;
    height: 0.7vh;
    opacity: 0.95;
    filter: blur();
}

body::-webkit-scrollbar {
    width: 5px;
    opacity: 0;
}

body::-webkit-scrollbar-thumb {
    background-color: #990000;
    border-radius: 10px;
    opacity: 0.7;
    filter: blur(3px);
}

body::-webkit-scrollbar-track {
    background-color: #ff4625;
    opacity: 0.2;
}
