body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: hsl(0, 0%, 10%);
    color: #fff;
}

body, h1, h2, h3, p, button {
    font-family: 'Roboto', sans-serif;
}

header {
    background-color: #FF4728;
    color: #fff;
    text-align: center;
    padding: 1.5%;
    z-index: 2;
    transition: padding 0.5s, position 0.5s, top 0.5s, opacity 0.3s;
}

header img {
    max-width: 80%;
    height: auto;
}

.logogrand {
    max-height: 12.5vh;
}

header.scrolled {
    padding: 0.5%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 13vh;
}

header h1 {
    margin: 0;
    opacity: 1;
    transition: opacity 0.3s;
}

header.scrolled h1 {
    opacity: 0;
}

nav {
    background-color: #990000;
    color: #fff;
    padding: 1.5%;
    text-align: center;
    position: relative;
    z-index: 2;
    transition: padding 0.5s, top 0.5s, position 0.5s, height 0.5s;
}

nav.scrolled {
    padding: 0.5%;
    position: fixed;
    top: 14vh;
    left: 0;
    right: 0;
    height: 5vh;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav li {
    display: inline;
    margin-right: 1.5%;
}

nav a {
    color: #fff;
    text-decoration: none;
}

nav a:hover {
    text-decoration: underline;
}

.album {
    background-color: #333;
    margin: 20px;
    padding: 10px;
    border: 1px solid #555;
    border-radius: 5px;
    display: flex; /* Utilisez flexbox pour contrôler la mise en page de l'album */
    align-items: center; /* Alignez le contenu verticalement */
}

.album img {
    max-width: 20vh;
    height: auto;
    border: 1px solid #555;
    border-radius: 5px;
    max-height: 100%; /* Assurez-vous que la couverture ne dépasse pas le conteneur */
}

.album h3 {
    font-size: 1.5rem;
    margin: 10px 0;
}

.album-details {
    display: flex;
    flex-direction: column;
    margin-left: 20px; /* Espace entre la couverture et les détails de l'album */
}

.album-artists, .album-year {
    font-size: 1rem;
    color: #777; /* Couleur de l'année (personnalisable) */
    margin-top: 5px;
}

.album .songs {
    list-style-type: none;
    padding: 0;
    margin-top: 10px; /* Ajoutez de la marge pour séparer les chansons du titre/année */
    order: 2; /* Changez l'ordre pour afficher les chansons sous le titre/année */
}

.album .songs li {
    font-size: 1rem;
    margin: 5px 0;
}

.album button {
    background-color: #ff4625;
    color: #fff;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
    transition: background-color 0.3s, color 0.3s;
}

.album button:hover {
    background-color: #990000;
    color: #000;
}

.album.expanded .songs {
    display: block;
}

.album .songs {
    display: none;
}

.album-cover {
    max-width: 20vh; /* Ajustez la taille de la couverture de l'album */
    height: auto;
    float: left;
    margin-right: 20px; /* Espace entre la couverture et le titre/année */
}
.album-info .songs li span {
    margin-right: 10px; /* Ajustez la marge selon vos préférences */
  }


#toggleChartTypeButton {
    background-color: #FF4728;
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-size: 1.5vw;
    text-transform: uppercase;
    margin: 10px;
    border-radius: 5px;
    transition: background-color 0.3s, transform 0.3s;
}

#toggleChartTypeButton:hover {
    background-color: #990000;
    transform: scale(1.1);
}

#deselectArtistsButton {
    background-color: #FF4728;
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-size: 1.5vw;
    text-transform: uppercase;
    margin: 10px;
    border-radius: 5px;
    transition: background-color 0.3s, transform 0.3s;
}

#deselectArtistsButton:hover {
    background-color: #990000;
    transform: scale(1.1);
}

#yearsChart {
    max-width: 99.5%;
    max-height: 99.5%;
    width: auto;
    height: auto;
}
h1 {
    text-align: center;
    font-size: 2.5vw;
    margin: 2vh 0;
    text-shadow: 1vw 1vw 2vw rgba(0, 0, 0, 0.5);
}

h2, h3 {
    font-size: 1.5vw;
    text-transform: uppercase;
    text-shadow: 0.5vw 0.5vw 1vw rgba(0, 0, 0, 1);
}

footer {
    background-color: #FF4728;
    color: #000000;
    text-align: center;
    padding: 1.5%;
    position: relative;
    z-index: 2;
    transition: padding 0.5s, position 0.5s, top 0.5s, font-size 0.5s;
}

footer.scrolled {
    padding: 1.5%;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    font-size: 1rem;
    height: 0.7vh;
    opacity: 0.95;
    filter: blur();
}

body::-webkit-scrollbar {
    width: 5px;
    opacity: 0;
}

body::-webkit-scrollbar-thumb {
    background-color: #990000;
    border-radius: 10px;
    opacity: 0.7;
    filter: blur(3px);
}

body::-webkit-scrollbar-track {
    background-color: #ff4625;
    opacity: 0.2;
}
